<div class="container">

  <h1> Display Data from Json File in Angular 9 </h1>

  <table class="table table-striped">
    <thead>
      <tr (click)="headerClick()">
        <th>class</th>
        <th>Name</th>
        <th>section</th>
        <th>subj1</th>
        <th>subj2</th>
        <th>subj3</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let student of students">
        <td>{{ student.class }}</td>
        <td>{{ student.name }}</td>
        <td>{{ student.section }}</td>
        <td>{{ student.subj1 }}</td>
        <td>{{ student.subj2 }}</td>
        <td>{{ student.subj3 }}</td>
      </tr>
    </tbody>
  </table>
</div>